<p id="notice"><%= notice %></p>

<div class="columns mt-6 is-centered">
  <% @books.each do |book| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <%= book.title %></td>
        </header>
        <div class="card-content">
          <div class="content">
            <p>Autor: <span class="has-text-weight-bold"><%= book.author %></span></p>
            <p>Páginas: <span class="has-text-weight-bold"><%= book.pages %></span></p>
            <p>Páginas lidas: <span class="has-text-weight-bold"><%= book.pages_read %></span></p>
            <p>Porcentagem: <span class="has-text-weight-bold"><%= book.pages_read * 100 / book.pages %></span>%<p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Mostrar', book, class: "card-footer-item" %>
          <%= link_to 'Editar', edit_book_path(book), class: "card-footer-item" %>
          <%= link_to 'Excluir', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

