<%= content_for :title do %>
  <%= @book.title %> - <%= @book.author %>
<% end %>

<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <div class="panel-control">
      <strong>Páginas:</strong>
      <%= @book.pages %>
    </div>

    <div class="panel-control">
      <strong>Páginas lidas:</strong>
      <%= @book.pages_read %>
    </div>

    <div class="panel-control"> 
      <strong>Resumo:</strong>
      <%= @book.resume %>
    </div><br>

    <%= link_to 'Editar', edit_book_path(@book), class: "button is-link is-light" %>
    <%= link_to 'Excluir', book_path(@book), 
        method: :delete, date: {confirm: "Você tem certeza?"}, 
        class: "button is-danger is-light"%>
  </div>
</div>



